.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: grey;
    padding: 10px;
    cursor: pointer;
}

.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputOption > h4 {
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .inputOption {
     width: 100%;
    }
 }

 @media screen and (max-width: 320px) {
    .inputOption {
        display: block;
        text-align: center;
        width: fit-content;
        overflow-x: hidden;
    }
 }