.login {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #f3f2ef;
}

.logo-login {
    margin-right: 10px;
    font-weight: bolder;
    background-color: white;
    padding: 0.2em;
    border-radius: 1em 1em 0 1em;
    font-size: 5rem;
    margin-bottom: 0.5em;
}

.logo-login > span {
    color: red;
}

.login > form {
    display: flex;
    flex-direction: column;    
}

.login > form > input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login > form > button {
    margin-left: 10px;
    width: 363px;
    height: 50px;
    font-size: large;
    color: #fff;
    background-color: #0074b1;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.login > form > button:hover {
    background-color: #04a7ff;
}

.login_register {
    color: #0177b7;
    cursor: pointer;
}

.login_register:hover {
    color: #04a7ff;
}

.login > p {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .header {
        display: flex;
    }

    .login > form > input {
        width: auto;
        height: 7vh;
        font-size: 15px;
    }
    
    .login > form > button {
        margin-left: 10px;
        width: auto;
        height: 7vh;
        font-size: medium;        
    }

    .logo-login {
        font-size: 3rem;
    }
}